<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Error 404</title>
</head>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <h1>Sorry, that page can't be found.</h1>
            <img width="50%" src="../views/404.jpg" alt="Img of Missing DVD Harry Potter And The Deadly Hallows">
        </div>
    </div>
</section>