<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Movie Organizer so you don't forget your old fav's">
    <meta name="author" content="Matthew Richardson">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../../fontawesome-free/css/all.css" rel="stylesheet">
    <link href="views/Home/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <h3 class="card-text"> Sign in to organize your movies</h3>
            <a class="btn btn-danger mt-3" href="/api/google/">
                <i class="fab fa-google fa-fw"></i>  Sign in with Google
            </a>
        </div>
    </div>
</div>
</body>
</html>