<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="CSS/Header.css">
<link rel="stylesheet" href="CSS/Rating.css">
<link rel="stylesheet" href="CSS/Footer.css">
<head>
    <meta charset="UTF-8">
    <title>Rate the media.</title>
</head>
<body>
<header>
    <div class="Logo" id="Home">
        <a href="Index.html">
            <img id="LogoImg" src="Images/Logo.png" alt="Movie Rating System Logo">
        </a>
    </div>
    <div id="HeaderSpacer">Matthew's Beautiful Movie Manager</div>
    <div >
        <img id="AccountImg" src="Images/DefaultProfile.png" alt="Profile Picture">
    </div>
</header>
<div id="PageLayout">
    <div id="MovieInfoArea">
        <h1>Movie Title Here</h1>
        <img src="Images/NoMovie.png" alt="Movie Poster">
        <span>Add A Link To IMDB For This Movie</span>
    </div>
    <div id="MovieRatingArea">
        <div id="StarsRatingArea">
            <img src="Images/StarGray.png" alt="Rate Movie 1 Star">
            <img src="Images/StarGray.png" alt="Rate Movie 2 Star">
            <img src="Images/StarGray.png" alt="Rate Movie 3 Star">
            <img src="Images/StarGray.png" alt="Rate Movie 4 Star">
            <img src="Images/StarGray.png" alt="Rate Movie 5 Star">
        </div>
        <textarea>Describe your thoughts about this movie here.</textarea>
        <button id="SendToDatabaseBtn">Submit</button>
    </div>
</div>
</body>
<footer>Thanks for using Matthew's Movie Manager!</footer>
</html>