.SearchBarArea
{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 7fr 1fr;

}
input
{
    text-align: center;
}
.SearchArea
{
    padding-right: 1vh;
}
#SearchImg
{
    height: 50%;
    padding: .5vh;
    border-radius: 10vw;
    align-self: end;
    justify-self: center;
}
#SearchInput
{
    height: 3vh;
    width: 100%;
}
#SearchBtn
{
    height: 3vh;
    width: 100%;
}
.BodySpacer
{
    height: 43vh;
}
